.pc-sidebar .pc-navbar > .pc-item {
  margin: 0 10px;
}
.pc-sidebar .pc-caption:first-child {
  padding-top: 10px !important;
}

.pc-sidebar .pc-caption {
  color: #1d2630;
  display: block;
  padding: 16px 23px 8px !important;
  text-transform: capitalize;
  position: relative;
  line-height: 1.34;
  font-size: 12px;
  font-weight: 500;
}

.pc-sidebar .pc-caption label {
  margin-bottom: 0;
  display: inline-block;
}
